/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
<<<<<<< HEAD
nav {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding-right: 70px 


  }

  .slack-logo {
    width: 120px;
  }

  body {
    background-color: rgb(119, 32, 105);
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding: 0% 10% 0% 10%;
  }

  header p {
    text-align: center;
    color: white;
    font-size: 1rem;
  }

  .yellow {
    color: rgb(180, 164, 15);
  }

  @media (max-width: 480px) {
    img {
     width: 150%;
     
    }
}
=======
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding-left: 10%;
}
header p {
  text-align: center;
  padding-left: 10%;
  color: white;
  font-size: 1rem;
}
.yellow {
  color: rgb(180, 164, 15);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  flex-direction: row;
}
.slack-logo {
  width: 120px;
}
body {
  background-color: #540b51;
}
.button-purple {
  background: #540b51;
  color: #540b51;
}
.button-icon {
  background: white;
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 2px;
}

.button-blue {
  background-color: #4285f4;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 12px;
  height: 50px;
}
.button-white {
  background-color: white;
  align-items: center;
  text-align: center;
  color: #540b51;
  justify-content: center;
  border-radius: 5px;
  margin-top: 12px;
  height: 50px;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f3eae2;
  padding: 50px 16px;
}

main > section div {
  max-width: 480px;
}

main > section img {
  height: 30px;
  width: auto;
}

main > section p {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

main > section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 23px 0 0 0;
}
>>>>>>> 0ccf99ced3ba1dd8b0b7b4de7a767f377e7a5a33
